
.unity-progress-bar__background {
	border-width: none;
	background-color: rgba(217, 217, 217, 1);
	border-radius: 15px;
}

.unity-progress-bar__progress {
	background-color: rgba(127, 144, 236, 1);
	border-radius: 15px;
	margin: 0px;
}

.unity-progress-bar__container {
	min-height: 30px;
}